.splash {
    background-color: #f2f2f2;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}


.main {
    background-color: aqua;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}